@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  background-image: linear-gradient(rgba(236, 233, 233, 0.863), rgba(255, 253, 253, 0.684)), url('../../public/asset 22.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* opacity: 30%; */
}



#two {
  min-width: 500px;
  min-height: 600px;
}

@media (max-width: 515px) {
  #two {
    max-width: 100px;
    max-height: 300px;
  }
}

